*  {
    background-size: cover;
    font-family: sans-serif;
    padding : 0;
    margin : auto;
}

body {
    background-color: #ECE6EA;
}

div {
    align-content: center;
    background-color: white;
    width : 800px;
    margin-bottom: 10px;
    margin-top:10px;
    border : 1px solid #C4D3C9;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    border-radius: 10px;
    border-bottom-width: 3px;
    border-right-width: 2px;
    padding: 7px;
}

.scoreText {
    text-align: right;
}

.correct {
    outline: 2px solid green;
}

.wrong {
    outline: 2px solid red;
}
.feedbackText {
    font-family: monospace;
    font-style: normal;
    font-size: 19px;
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: rgb(255, 0, 0);
    padding: 5px;
}

.questionText {
    font-family: monospace;
    font-style: normal;
    font-size: 19px;
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: black;
    padding: 5px;
}

.adminText {
    font-family: monospace;
    font-style: normal;
    font-size: 19px;
    text-align: left;
    letter-spacing: 1px;
    color: black;
    padding: 5px;
}

div h2 {
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 5px;
}


ul {
    list-style-type: none;
    padding-left: 0;
}



buttonA  {
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #8E6981;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}

.inputA {
	margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}


nextPageButton:hover {
    color: #ffffff;
    background: palevioletred;
    border: palevioletred;
    transition: all 0.4s ease 0s;
}

.fixedButtonRight{
    position: fixed;
    bottom: 10%;
    right: 25%; 
    padding: 20px;
}
.fixedButtonLeft{
    position: fixed;
    bottom: 10%;
    right: 65%; 
    padding: 20px;
}

.fixedButtonCenter{
    position: fixed;
    bottom: 10%;
    right: 45%; 
    padding: 20px;
}
.roundedFixedBtn{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0.8rem 3.5rem;
    background: #363636;
    text-decoration: none;
    color: #ffffffbb;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: none;
    outline: none;
    cursor: pointer;
}

nextPageButton2 {
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #8E6981;
    padding: 10px;
    border: none;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    margin-left: 634px;
    margin-bottom: 7px;
}

nextPageButton2:hover {
    color: #ffffff;
    background: palevioletred;
    border: palevioletred;
    transition: all 0.4s ease 0s;
}

backButton {
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #8E6981;
    padding: 10px;
    border: none;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    margin-left: 548px;
    margin-bottom: 7px;
}

backButton:hover {
    color: #ffffff;
    background: palevioletred;
    border: palevioletred;
    transition: all 0.4s ease 0s;
}

returnButton {
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #8E6981;
    padding: 10px;
    border: none;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}

returnButton:hover {
    color: #ffffff;
    background: palevioletred;
    border: palevioletred;
    transition: all 0.4s ease 0s;
}

submitButton {
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #8E6981;
    padding: 10px;
    border: none;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    margin-left: 500px;
    margin-bottom: 14px;
}

submitButton:hover {
    color: #ffffff;
    background: palevioletred;
    border: palevioletred;
    transition: all 0.4s ease 0s;
}

.answerButton {
    width: 15rem;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #8E6981;
    padding: 10px;
    border: none;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 7px;
    margin-left: 5px;
}

.answerButton:hover {
    color: #ffffff;
    background: palevioletred;
    border: palevioletred;
    transition: all 0.4s ease 0s;
}

.answerButton:active {
    transform: scale(0.98);
    background: #CFE3E2;
    box-shadow: 2px 2px 10px gray;
}

.answerTextField {
    font-family: monospace;
    font-size: 18px;
    position: relative;
    width: 100%;
    padding: 2px 2px 2px 2px;
    max-width: 500px;
    background: white;
    color: inherit;
    margin-bottom: 15px;
    margin-left: 5px;
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
}
input:focus {
    box-shadow: 0 4px 2px -1px gray;
    border-color: black;
}

::placeholder {
    font-family: monospace;
    color: gray;
    opacity: 0.2;
}

.drop-targets {
    width: 200px;
    height: 50px;
    background: #858ED1;
    margin: 10px;
    padding: 10px;
    /* align items in the box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    width: 200px;
    height: 50px;
    background: palevioletred;
    margin: 10px;
    padding: 10px;
}

.drag-over {
    border: dashed 3px red;
}

.rad-input {
    accent-color: palevioletred;
}

.rad-label {
    display: inline-block;
    align-items: center;
    border-radius: 3px;
    padding: 10px 10px;
    margin: 3px 0;
    cursor: pointer;
    transition: .3s;
    background-color: white;
    width: 15rem;
    color: black;
    border: 3px solid;
    border-color: white;
    font-family: monospace;
    font-size: 16px;
}

.rad-label:active {
    transform: scale(0.98);
    background: white;
    box-shadow: 2px 2px 10px gray;
}

.rad-label:hover,
.rad-label:focus-within {
    color: black;
    background: white;
    border-color: palevioletred;
}
hr {
    border: 0;
    height: 3px;
    margin-top: 0;
    background: #333 linear-gradient(to right, #FFB6C1, palevioletred, #FFB6C1);
}


